@font-face {
  font-family: "SF Pro Display Light Italic";
  src: url("tipografias/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}

body {
  font-family: "SF Pro Display Light Italic";
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffad;
  position: fixed;
  z-index: 1000;
  top: 30px;
  left: 40px; /* Ajusta el espacio izquierdo en pantallas de escritorio */
  right: 40px; /* Ajusta el espacio derecho en pantallas de escritorio */
  width: calc(100% - 80px); /* Resta los márgenes izquierdo y derecho */
  padding: 10px 35px;
}
header:hover {
  background-color: #ffffffe8;
  transition: 0.8s;
}
#menu-button {
  background: none;
  border: none;

  color: #000000;
  cursor: pointer;
}
/* Oculta los botones en pantallas grandes (desktop) */

.logo {
  font-size: 24px;
  color: #000000;
  text-align: center;
}
#cart-button {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

#menu-button,
#cart-button {
  display: none;
}

.nav {
  margin: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 35px;
}

nav a {
  text-decoration: none;
  color: #000000;
}

.user-icons a {
  margin-left: 20px;
  color: #000000;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.menu-item.active .sub-menu {
  display: block;
}

.sub-menu li {
  margin: 5px;
}

.sub-menu a {
  color: #000;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #ffffffe8;
  transition: 0.8s;
}

nav ul li ul li {
  padding: 10px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: black;
  color: white;
  height: 20vh;
  overflow: hidden;
}

.input {
  background-color: #f8f6f6;
  border: none;
}

footer p {
  padding: 20px;
  font-size: 28px;
}

footer input[type="email"] {
  width: 45vh;
  padding: 15px;
  border: 1px solid #f8f6f6;
  background-color: #f8f6f6;
}

.button {
  background-color: #f8f6f6;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.email {
  color: black;
}
::placeholder {
  color: black;
  font-size: 15px;
}

#image-carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#image-carousel img {
  width: 100%;
  height: 100vh;
  position: absolute;

  opacity: 0;
  transition: opacity 1s;
}

#image-carousel img.active {
  opacity: 1;
}

.contenedor-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 443px;
  height: 593px;

  margin: 100px;
  margin-top: 35px;

  text-align: center;
  position: relative;
}

.card img {
  width: 100%;
}

.card-info {
  text-align: left;
  padding: 10px;
  flex-grow: 1;
  width: 80%;
}

.section-title {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
}

.offer-label {
  background-color: #000000;
  color: white;
  position: absolute;
  padding: 5px;
  padding-right: 28px;

  top: 17px;
  right: 0;
}
.discount-price {
  font-weight: bold;
  font-size: 18px;
}

#del {
  color: #888888b6;
}
.heart-button {
  position: absolute;
  margin-bottom: 20px;
  right: 13px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#new-collection-banner {
  position: relative;
  overflow: hidden;
  text-align: left;
  width: 100%;
  max-height: 50vh;
}

#new-collection-banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0);
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  color: white;
}

.banner-content h2 {
  font-size: 24px;
  margin: 0;
}

.ver-mas-link {
  text-decoration: underline;
  color: #ffffff;

  display: block;

  text-align: left;
}

@media screen and (max-width: 768px) {
  #menu-button,
  #cart-button {
    display: block;
  }

  .nav {
    display: none;
  }

  .contenedor-card {
    display: block;
    margin: 0;
  }

  .card {
    height: 25%;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .heart-button {
    margin-bottom: 70px;
  }
  .banner-content {
    text-align: left; /* Alinea el texto hacia la izquierda */
    position: absolute;
    bottom: 0; /* Alinea el contenido en la parte inferior del banner */
    left: 0; /* Alinea el contenido en la parte izquierda del banner */
    margin-top: 90px;
    font-size: 20px;
  }
  #new-collection-banner {
    margin-top: 20px; /* Añade espacio entre las tarjetas y el banner */
  }
  #new-collection-banner img {
    width: 100%;
    height: 600px; /* Ajusta la altura según tu preferencia */
  }
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  .footer {
    height: auto; /* Establece la altura automática para el contenido móvil */
    padding: 20px; /* Añade espacio interno para el contenido móvil */
  }

  .footer p {
    font-size: 18px; /* Reduce el tamaño de fuente en dispositivos móviles si es necesario */
  }

  .footer input[type="email"] {
    width: 100%; /* Ocupa todo el ancho disponible en dispositivos móviles */
  }

  .button {
    margin-top: 10px; /* Añade espacio superior para el botón en dispositivos móviles */
  }
}

/* Con estos cambios, los botones de menú y carrito se ubicarán a los lados del título del logo en el centro, y los elementos de navegación se ocultarán en pantallas pequeñas (modo móvil). El diseño se adaptará automáticamente cuando la pantalla se achique. */
